Conversation opened. 1 read message.

Skip to content
Using Gmail with screen readers
18 of 457
login emails
Inbox

test
Attachments
Thu, Jul 10, 12:44 PM
to me



--


 7 Attachments
  •  Scanned by Gmail
h1{
    color: blue;
    text-align: center;
    padding-top: 40px;
    font-size: 60px;


}
div 
{
        border-radius: 5px;
        background-image: linear-gradient(to right, #d9dfee00,rgba(81, 47, 220, 0.333));
        padding-left: 80px;
        width: 70%;
        height: 500px;
        margin: auto
        
}

button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    
   }
   
   button::before,
   button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   button::before {
    left: -10px;
    background: #240046;
   }
   
   button::after {
    right: -10px;
    background: #5a189a;
   }
   
   button:hover::before,
   button:hover::after {
    width: 58%;
   }
   
   button:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   button span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }
input{
    width: 70%;
    height:20px ;
    align-items: center;
}

a{
    padding-left: 30px;
    color: #03045e;
    text-decoration: none;
    font-size: 15px;
}
a:hover{
    text-decoration: underline;
    
}
style2.css
Displaying style2.css.
